@import "bootstrap.min.css";

body {
    background-image: url("BG.jpeg");
}

.makeFlex {
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
}

.startImage {
    display: flex;
    width: 100%;
    align-content: center;
}

.startText {
    background: black;
    color: #bd2130;
    font-family: Impact;
    font-size: 2.5vw;
}

.contact {
    display: flex;
    width: 90%;
    background: lightgoldenrodyellow;
    font-size: 5vw;
    margin: auto;
    margin-top: 20%;
}

.addFont {
    font-family: Impact;
    font-size: 4vw;
    color: #bd2130;
}

.thumbFont {
    font-family: Impact;
    font-size: 10vw;
    color: #bd2130;
}

.adBox {
    background-color: #1c7430;
    color: white;
}

.footer {
    font-size: 2.5vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #80bdff;
    text-align: center;
}

.startBox {
    display: flex;
    flex-direction: column;
}


@media (min-width: 540px) {
    .startImage {
        width: 50%;
        height: 50%;
    }

    .textbox {
        width: 50%;
    }

    .thumbFont {
        font-family: Impact;
        font-size: 2.5vw;
    }

    .startBox {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact {

        width: 75%;
        background: lightgoldenrodyellow;
        font-size: 3.5vw;
        margin: auto;
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .startBox {
        flex-direction: row;
    }


    .contact {
        width: 50%;
        background: lightgoldenrodyellow;
        font-size: 1.5vw;
        margin: auto;
        margin-top: 5%;
    }

    .footer {
        font-size: 1vw;
    }
}



